@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


:root{
    --greyish-blue-color:hsl(218, 22%, 67%);
    --light-greyish-color:hsl(204, 43%, 93%);
    --cyan-color:hsl(179, 62%, 43%);
    --bright-yellow-color:hsl(71, 73%, 54%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: var(--light-greyish-color);
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
    color: var(--light-greyish-color);
}

/* wrapper for all the content */

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
  overflow: hidden;
  max-width: 35rem;
}

/* card one styles */

.card-one {
    grid-column: 1 /span 2;
    width: 100%;
    padding: 3rem;
    background-color: #fff;
    line-height: 1.5;
}

.card-one .intro{
    color: var(--cyan-color);
    margin-bottom: 1rem;
}

.card-one .join{
    color: var(--bright-yellow-color);
    margin-bottom: 0.78rem;
} 

.card-one .details{
    color: var(--light-greyish-color);
}

/* card two styles */

.card-two {
    padding: 1.5rem;
    background-color: var(--cyan-color);
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
}

.card-two > h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.price {
    font-size: 2.4rem;
}

.price span {
    font-size: 1rem;
    color: var(--light-greyish-color);
    opacity: 50%;
}

.button {
    margin-top: 0.89rem;
    display: inline-block;
    background-color: var(--bright-yellow-color);
    border-radius: 6px;
    border-style: none;
    font-family: 'Karla', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
}

/* card three styles */

.card-three {
    padding: 1.5rem;
    background-color: hsl(179, 62%, 49%);
}

.card-three > h2{
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 400;
}

/* media query */

 @media (max-width: 500px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }
}



